/* Add the CSS required to match the expected output given in the lesson */

body{
  background-image: url(https://s3.ap-south-1.amazonaws.com/kalvi-education.github.io/front-end-web-development/superover-bg.png);
}

#team1{
  display: inline-block;
  background-color:rgb(0, 95, 162) ;
  color: white;
}
#team2{
  display: inline-block;
  background-color: rgb(31, 168, 61);
  color:white;
}
/* .container{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
} */
.ball{
display: inline-block;
background-color: white;
color: black;
width: 50px;
height: 50px;
border-radius: 50%;
margin: 5px;
line-height: 30px;
text-align: center;
font-size: 2em;
font-weight: bold;
}
/* .button-container{
  display: flex;
  align-items: center;
  justify-content: center;
} */
.button{
  width: 100px;
  cursor: pointer;
  margin: 0px 20px 0 20px;
}

#logo{
  width: 150px;
  display: grid;
  align-items: center;
}

.scoreboard{
  font-size: 3em;
  font-weight: bold;
}
.score{
  padding: 30px;
  height: auto;
  border-radius: 20px;
  margin: 0 20px 50px 20px;
}
